

body,html {
  height: 100%;
  width: 100%;
}

body { /* General style rules for the body section */
        background-color:black;
        color: lightblue;
        text-align: center;
        font-family: cursive;
}

body {
  background-image: url(/Images/cutebuns.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: black;
  text-decoration: underline;
}

h3 { /* Matches elements with h3 tag */
  color: black;
}

#div1 { /* Matches element with id=SimpleDiv */
  /*background-color: gray;*/

  color: black;

  border-style: solid groove;
  border-width: 5px;
  border-color: green;
  margin: 5%;
  padding: 6px;
}

#div2{
  /*background-color: #CC1A54;*/

  color: black;

  margin: 5%;
  padding: 6px;
  float: left;
  width: 20%;
}

#div3{
  /*background-color: #F1FF47;*/

  color: black;

  margin: 5%;
  padding: 6px;
  float: right;
  width: 50%;
}

#div4{
  /*background-color: #D307FF;*/
  margin: 5%;
  padding: 6px;
  clear:both;
}
